
.header-img{
    max-width: 80px;
    max-height: 80px;
}

.navbar-toggler-icon{
    display: none;
}


#firstContainer{
    background-color: #cccccc;
    padding: 50px;
}

#firstContainer h1{
    text-align: center;
    font-size: 54px;
    padding: 50px;
}

#firstContainer p{
    text-align: justify;
    font-size: 24px;
    line-height: 35px;
}

#firstContainer img{
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 40px;
    margin-left: 3px;
}

#secondContainer{
    margin-top: 70px;
    padding: 50px;
}

#secondContainer p{
    text-align: justify;
    font-size: 24px;
    line-height: 35px;
}

#secondContainer img{
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
    margin-left: 4px;
}


#fourthContainer{
    background: #cccccc;
    padding: 50px;
}

#fourthContainer h1{
    text-align: center;
    padding: 50px;
}

#fourthContainer p{
    text-align: justify;
    line-height: 35px;
}

#fourthContainer img{
    max-width: 400px;
    max-height: 400px;
    margin-left: 4px;
}


#thirdContainer{
    padding: 50px;
}

#thirdContainer h1{
    text-align: center;
    padding-top: 70px;
    
}

.ikons{
    text-align: center; 
}

.ikons a{
    font-size: 32px;
    color: black;
}

.ikons a:hover{
    color: blue;
    transition: 0.3s;
}

footer{
    background: #cccccc;
    text-align: center;
    padding: 10px;
}

footer p{
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
  #none{
    display: none;
  }
    .nav-link{
        font-size: 20px;
    }
}
